<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504802469493-cad9b622c4f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">
  <div class="container">
    <h1>Bringing <strong>book lovers</strong> <strong>together</strong></h1>
    <p>Find a bookclub that excites you and people to share it with</p>
  </div>
</div>



<div class="container mx-5 row">


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Browse All</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="false">Create</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false">Categories</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">

      <div class="row row-cols-1 row-cols-md-3 py-5 d-flex flex-wrap">
        <!-- <h1 class="display-3 bg-light text-white vertical ml-3 pl-4 pt-2 mr-2" style="max-width: 540px; max-height: 234px;">Let's imagine together!</h1> -->
        <% @clubs.each do |club| %>
        <div class="col mb-4">
          <%= link_to club_path(club), class: "link-hover text-dark" do %>
          <div class="card mb-3 club-card rounded" style="max-width: 540px">
            <div class="cover-content pr-3 pl-3" style="height: 200px;"><p class="card-text"><%= club.description %></p></div>
            <div class="row no-gutters">
              <div class="col-md-6">
                <% if club.club_books.find_by(current_book: true).nil? %>
                <img class="card-img-top background-image: cover"
                  src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                  alt="">
                <% else %>
                <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                <% end %>
              </div>
              <div class="col-md-6 d-flex flex-column" style="height: 40vh;">
                <div class="card-body card-body-club d-flex align-items-center">
                  <h5 class="card-title"><%= club.name %></h5>
                  <!-- <p class="card-text"><%= club.description %></p> -->
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">
      <div class="create-action">
        <h3 class="display-4"><em>Have a book in mind?</em></h3>
        <h2 class="display-2" style="font-weight: 700;"><%= link_to "Invent your own club...", new_club_path %></h2>
      </div>
    </div>
    <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
      <div class="row row-cols-1 row-cols-md-2 py-5 d-flex flex-wrap">
        <% @clubs.drop(4).each do |club| %>
        <div class="col mb-4">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <% if club.club_books.find_by(current_book: true).nil? %>
                <img class="card-img-top background-image: cover"
                  src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                  alt="">
                <% else %>
                <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                <% end %>
              </div>
              <div class="col-md-8 d-flex flex-column" style="height: 50vh;">
                <div class="card-body card-body-club">
                  <%= link_to club_path(club) do %>
                  <h5 class="card-title"><%= club.name %></h5>
                  <p class="card-text"><%= club.description %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<%= javascript_pack_tag 'fetch-books' %>
<%= javascript_pack_tag 'card-hide' %>
