<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1504802469493-cad9b622c4f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">
  <div class="container">
    <h1>Bringing <strong>book lovers</strong> <strong>together</strong></h1>
    <p>Find a bookclub that excites you and people to share it with</p>
  </div>
</div>

<div class="container" style="min-height: 450px">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
        aria-controls="pills-home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-fantasy-tab" data-toggle="pill" href="#pills-fantasy" role="tab"
        aria-controls="pills-fantasy" aria-selected="false">Fantasy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-fiction-tab" data-toggle="pill" href="#pills-fiction" role="tab"
        aria-controls="pills-fiction" aria-selected="false">Fiction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-mystery-tab" data-toggle="pill" href="#pills-mystery" role="tab"
        aria-controls="pills-mystery" aria-selected="false">Mystery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-science-fiction-tab" data-toggle="pill" href="#pills-science-fiction" role="tab"
        aria-controls="pills-science-fiction" aria-selected="false">Science Fiction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-young-adult-tab" data-toggle="pill" href="#pills-young-adult" role="tab"
        aria-controls="pills-young-adult" aria-selected="false">YA</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="row">
        <% @clubs.each do |club|%>
        <div class="col-lg-4">
          <%= link_to club_path(club) do %>
          <div class="card club-card mb-3" style="max-width: 540px;">
            <div class="cover-content pr-3 pl-3">
              <p class="card-text cover-content-text pt-5"><%= club.description %></p>
            </div>
            <div class="row no-gutters">
              <div class="col-md-6">
                <% if club.club_books.find_by(current_book: true).nil? %>
                <img class="card-img-top background-image: cover"
                  src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                  alt="">
                <% else %>
                <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                <% end %>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title"><%= club.name %></h5>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-fantasy" role="tabpanel" aria-labelledby="pills-fantasy-tab">
      <div class="row">
        <% @clubs.each do |club|%>
          <% club.categories.each do |category| %>
            <% if category.name.downcase.include? "fantasy" %>
            <div class="col-lg-4">
              <%= link_to club_path(club) do %>
              <div class="card club-card mb-3" style="max-width: 540px;">
                <div class="cover-content pr-3 pl-3">
                  <p class="card-text cover-content-text pt-5"><%= club.description %></p>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <% if club.club_books.find_by(current_book: true).nil? %>
                    <img class="card-img-top background-image: cover"
                      src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                      alt="">
                    <% else %>
                    <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title"><%= club.name %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-fiction" role="tabpanel" aria-labelledby="pills-fiction-tab">
      <div class="row">
        <% @clubs.each do |club|%>
          <% club.categories.each do |category| %>
            <% if category.name.downcase.include? "fiction" %>
            <div class="col-lg-4">
              <%= link_to club_path(club) do %>
              <div class="card club-card mb-3" style="max-width: 540px;">
                <div class="cover-content pr-3 pl-3">
                  <p class="card-text cover-content-text pt-5"><%= club.description %></p>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <% if club.club_books.find_by(current_book: true).nil? %>
                    <img class="card-img-top background-image: cover"
                      src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                      alt="">
                    <% else %>
                    <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title"><%= club.name %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-mystery" role="tabpanel" aria-labelledby="pills-mystery-tab">
      <div class="row">
        <% @clubs.each do |club|%>
          <% club.categories.each do |category| %>
            <% if category.name.downcase.include? "mystery" %>
            <div class="col-lg-4">
              <%= link_to club_path(club) do %>
              <div class="card club-card mb-3" style="max-width: 540px;">
                <div class="cover-content pr-3 pl-3">
                  <p class="card-text cover-content-text pt-5"><%= club.description %></p>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <% if club.club_books.find_by(current_book: true).nil? %>
                    <img class="card-img-top background-image: cover"
                      src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                      alt="">
                    <% else %>
                    <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title"><%= club.name %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-science-fiction" role="tabpanel" aria-labelledby="pills-science-fiction-tab">
      <div class="row">
        <% @clubs.each do |club|%>
          <% club.categories.each do |category| %>
            <% if category.name.downcase.include? "science fiction" %>
            <div class="col-lg-4">
              <%= link_to club_path(club) do %>
              <div class="card club-card mb-3" style="max-width: 540px;">
                <div class="cover-content pr-3 pl-3">
                  <p class="card-text cover-content-text pt-5"><%= club.description %></p>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <% if club.club_books.find_by(current_book: true).nil? %>
                    <img class="card-img-top background-image: cover"
                      src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                      alt="">
                    <% else %>
                    <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title"><%= club.name %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-young-adult" role="tabpanel" aria-labelledby="pills-young-adult-tab">
      <div class="row">
        <% @clubs.each do |club|%>
          <% club.categories.each do |category| %>
            <% if category.name.downcase.include? "young adult" %>
            <div class="col-lg-4">
              <%= link_to club_path(club) do %>
              <div class="card club-card mb-3" style="max-width: 540px;">
                <div class="cover-content pr-3 pl-3">
                  <p class="card-text cover-content-text pt-5"><%= club.description %></p>
                </div>
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <% if club.club_books.find_by(current_book: true).nil? %>
                    <img class="card-img-top background-image: cover"
                      src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                      alt="">
                    <% else %>
                    <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title"><%= club.name %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'fetch-books' %>
<%= javascript_pack_tag 'card-hide' %>