<div class="club-cover">
  <% if @club.cover_photo.attached? %>
    <%= cl_image_tag @club.cover_photo.key, class: "club-cover-photo" %>
  <% else %>
  <img
    src="https://images.unsplash.com/photo-1598646506899-ac6be1000c2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
    alt="Club cover photo" class="club-cover-photo">
  <% end %>
  <div id="overlay"></div>
  <h1 class="club-title"><%= @club.name %></h1>
  <% unless @club_membership.id || @club.user == current_user %>
  <%= simple_form_for [ @club, @club_membership ] do |f| %>
  <%= f.submit "Join this club", class: "btn btn-main join-btn hvr-underline" %>
  <% end %>
  <% end %>
  <% if @club_membership.id %>
  <%= link_to "Leave club", club_membership_path(@club_membership),
                method: :delete,
                data: { confirm: "Are you sure you want to leave this club?" },
                class: "btn btn-sec leave-btn"
    %>
  <% elsif @club.user == current_user %>
  <%= link_to "Delete club", club_path(@club),
                method: :delete,
                data: { confirm: "Are you sure you want to delete this club?" },
                class: "btn btn-sec leave-btn"
    %>
  <% end %>
</div>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="row justify-content-center mb-3">
        <div class="col-12">
          <%= link_to "Go Back", clubs_path, class: "btn btn-sec hvr-underline" %>
          <% if @club_membership.id %>
            <%= link_to "Share with friends", "#", class: "btn btn-sec clipboard-btn hvr-underline", "data-clipboard-text" => club_url(@club) %>
          <% elsif @club.user == current_user %>
            <h4>Invite your friends!</h4>
            <%= simple_form_for [ @club, @invite ] do |f| %>
              <%= f.input :email, label: false, placeholder: "Email" %>
              <%= f.submit "Invite", class: "d-none" %>
            <% end %>
          <% end %>
          <h4>Currently Reading</h4>
          <% if @current_book.nil? %>
            <p>Not reading anything right now</p>
            <% if @club_membership.admin || @club.user == current_user %>
              <%= link_to "Add a book to your club!", club_books_path(@club), class: "hvr-underline", :style=> 'text-decoration:none;' %>
            <% end %>
          <% else %>
            <img src="<%= @current_book.image_url %>"
              alt="<%= @current_book.title %>" class="book-cover-img">
            <p class="mb-0"><strong><%= @current_book.title %></strong></p>
            <p class="mt-0"><%= @current_book.author %></p>

            <% if current_user == @club.user %>
              <%= simple_form_for [ @club, @current_book, @club.club_books.find_by(book: @current_book) ] do |f| %>
                <%= f.input :read_book, label: "Mark as read", input_html: { class: "toggle" } %>
                <%= f.input :current_book, as: :hidden, input_html: { value: false } %>
                <%= f.button :submit, "Confirm", class: "mt-0 hvr-underline" %>
              <% end %>
              <%= link_to "Add more books to your club!", club_books_path(@club), class: "hvr-underline" %>
            <% end %>

          <% end %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <%# <h4>Upcoming Events</h4> %>
        </div>
      </div>
    </div>
    <div class="col-8 club-tabs">
      <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="about-club-tab" data-toggle="tab" href="#about-club" role="tab" aria-controls="about-club"
            aria-selected="true">About this club</a>
        </li>
        <% if @club_membership.id || @club.user == current_user %>
          <li class="nav-item">
            <a class="nav-link" id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="false">Chatrooms</a>
          </li>
        <% end %>
        <% if @club_membership.id || @club.user == current_user %>
        <li class="nav-item">
          <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members"
            aria-selected="false">Members (<%= @club.club_memberships.count + 1 %>)</a>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" id="books-tab" data-toggle="tab" href="#books" role="tab" aria-controls="books" aria-selected="false">Our Books</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="about-club" role="tabpanel" aria-labelledby="about-club-tab">
          <%= @club.description %>
        </div>
        <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
          <ul class="list-group list-group-flush">
            <% @club.rooms.each do |room| %>
            <li class="list-group-item">
              <%= link_to room.name, club_room_path(@club, room), class: "chat-link", :style=> 'text-decoration:none;'%>
            </li>
            <% end  %>
          </ul>
        </div>
        <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
          <div class="member-cards">
            <div class="member-card">
              <% if @club.user.profile_photo.attached? %>
              <%= cl_image_tag @club.user.profile_photo.key, class: "avatar-large member-avatar" %>
              <% else %>
              <img
                src="https://images.unsplash.com/photo-1452882628481-6a2da9481239?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                alt="" class="avatar-large member-avatar">
              <% end %>
              <p class="member-username"><%= @club.user.username %> - Host</p>
            </div>
            <% @club.users.each do |user| %>
            <div class="member-card">
              <% if user.profile_photo.attached? %>
                <%= cl_image_tag user.profile_photo.key, class: "avatar-large member-avatar" %>
              <% else %>
                <img
                  src="https://images.unsplash.com/photo-1452882628481-6a2da9481239?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                  alt="" class="avatar-large member-avatar">
              <% end %>
              <p class="member-username"><%= user.username %></p>
              <% if @club.user == current_user %>
                <div class="make-admin">
                  <%= simple_form_for [ @club, club_membership = user.club_memberships.find_by(club: @club)] do |f| %>
                    <%= f.input :admin, input_html: { id: club_membership.id, class: "toggle admin-toggle", check: club_membership.admin } %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="books" role="tabpanel" aria-labelledby="books-tab">
          <div class="">
            <h5 class="our-books-title">Previously Read</h5>
            <div class="cards">
              <% @club.club_books.where(read_book: true).each do |read| %>
                <div class="book-card rounded">
                  <div class="book-info rounded">
                    <p class="mb-0"><strong><%= read.book.title %></strong></p>
                    <p class="book-description mt-0">
                      <%= read.book.syllabus[0..300] %>... 
                      <%= link_to "Read more", club_book_path(@club, read.book.id) %>
                    </p>
                  </div>
                  <div class="book-cover justify-content-center">
                    <%= link_to club_book_path(@club, read.book.id) do %>
                      <%= image_tag read.book.image_url, class: "book-cover" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="">
            <h5 class="mt-4 our-books-title">Coming Soon</h5>
            <div class="cards">
              <% @club.club_books.where(read_book: false, current_book: false).each do |unread| %>
                <div class="book-card rounded">
                  <div class="book-info rounded">
                    <p class="mb-0"><strong><%= unread.book.title %></strong></p>
                    <p class="book-description mt-0">
                      <%= unread.book.syllabus[0..300] %>... 
                      <%= link_to "Read more", club_book_path(@club, unread.book.id) %>
                    </p>
                  </div>
                  <div class="book-cover justify-content-center"><%= image_tag unread.book.image_url, class: "book-cover" %></div>
                  <div class="book-controls">
                    <% if (current_user == @club_membership.admin || @club.user) && @current_book.nil? %>
                      <%= simple_form_for [ @club, unread.book, unread ] do |f| %>
                        <%= f.input :read_book, as: :hidden, input_html: { value: false } %>
                        <%= f.input :current_book, label: "Read now", input_html: { class: "toggle" } %>
                        <%= f.button :submit, "Confirm", class: "mt-0 link_underlined bolder hvr-underline" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
