<div class="jumbotron jumbotron-fluid m-0 bg-transparent text-center d-flex flex-column justify-content-center align-items-center">
  <div class="container j-container d-flex flex-column mb-1">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
 <!--    <h1 id="feature-header" class="display-4 m-0">Join booklubs</h1>
    <h1 id="feature-header" class="display-4 m-0">discuss books</h1>
    <h1 id="feature-header" class="display-4 m-0">meet book lovers!</h1>
 -->

    <div class="text-center mb-3 slogan">Connect with book lovers around the world</div>
    <div>
      <%= link_to "Discover clubs", clubs_path, class: "btn btn-jumbotron" %>
    </div>
</div>

</div>
<div id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Are you ready?</h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="item hvr-underline">
                        <%= image_tag "celebration.svg", class: "icon" %>
                        <h4>Join</h4>
                        <p>Join a club and meet people from around the world, gain different perspectives, and delve into the expansive world of literature</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item hvr-underline">
                        <%= image_tag "connected_world.svg", class: "icon" %>
                        <h4>Connect</h4>
                        <p>Share your love for literature from fantasy to finance meet new friends and reconnect with old friends through writing</p>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item hvr-underline">
                        <%= image_tag "Group_chat.svg", class: "icon" %>
                        <h4>Create</h4>
                        <p>Create a new club both private or public and use our collective group chat to discuss the gossip from your paperback</p>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item hvr-underline">
                        <%= image_tag "book_lover.svg", class: "icon" %>
                        <h4>Read</h4>
                        <p>Finish that book that has been collecting dust on your shelf, or revisit conversations about that book that changed your life</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <h2 class="text-center pb-4 section-heading">Featured Clubs</h2>

  <div class="row featured-clubs row-cols-1 row-cols-md-3">
    <div class="col mb-4 pl-4">
      <div class="card h-100 featured-card border-0 rounded">
        <img
            src="https://ca-times.brightspotcdn.com/dims4/default/15db1ed/2147483647/strip/true/crop/652x367+0+317/resize/1200x675!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fee%2F98%2F823b05674b2382e923688e598a02%2Fla-photos-handouts-la-ca-uncanny-valley-book-90.JPG"
            class="card-img-top mt-4 mb-0" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= "Uncanny Valley" %></h5>
          <p class="card-text"><%= "Wiener’s stylish memoir is an uncommonly literary chronicle of tech-world disillusionment." %></p>
        </div>
        <div class="card-footer">
          <%# <%= link_to "Check out more", clubs_path, class: "btn btn-sec" %>
        </div>
      </div>
    </div>


    <div class="col mb-4">
      <div class="card h-100 featured-card border-0 rounded">
          <img
            src="https://thestorybookstore.com/wp-content/uploads/2018/07/Bossypants-Tina-Fey.png"
            class="card-img-top mt-4 mb-0" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= "Bossypants" %></h5>
          <p class="card-text"><%= "Need a laugh? Our book club meetings will have you rolling on the floor laughing" %></p>
        </div>
        <div class="card-footer">
          <%# <%= link_to "Check out more", clubs_path, class: "btn btn-sec" %>
        </div>
      </div>
    </div>
    <div class="col mb-4 pr-4">
      <div class="card h-100 featured-card border-0 rounded">
        <img
            src="https://cdn.shoplightspeed.com/shops/611345/files/8231848/faber-faber-childrens-wuthering-heights.jpg"
            class="card-img-top mt-4 mb-0" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= "Wuthering Heights" %></h5>
          <p class="card-text"><%= "A man becomes obsessed with vengeance when his soul mate marries another man. Heathcliff is Cathy Earnshaw's foster brother; more than that, he is her other half." %></p>
        </div>
        <div class="card-footer">
          <%# <%= link_to "Check out more", clubs_path, class: "btn btn-sec hvr-underline" %>
        </div>
      </div>
    </div>
  </div>
</div>
 <br>
  <br>
  <br>
  <br>
  <br>
