<div class="jumbotron jumbotron-fluid m-0 bg-transparent d-flex flex-column justify-content-end">
  <div class="container j-container d-flex flex-column mb-1">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
 <!--    <h1 id="feature-header" class="display-4 m-0">Join booklubs</h1>
    <h1 id="feature-header" class="display-4 m-0">discuss books</h1>
    <h1 id="feature-header" class="display-4 m-0">meet book lovers!</h1>
 -->

<div class="mb-3 slogan">Connect with book lovers around the world</div>
  <div class="jumbo-button">
   <%= link_to "Discover clubs", clubs_path, class: "btn btn-jumbotron" %>
  </div>
</div>

<div id="about" class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h4>Are you ready?</h4>
          <div class="line-dec"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 ">
        <div class="item">
          <%= image_tag "celebration.svg", class: "icon" %>
          <h4>Join</h4>
          <p>Join a club and meet people from around the world, gain different perspectives, and delve into the expansive world of literature</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="item">
          <%= image_tag "connected_world.svg", class: "icon" %>
          <h4>Connect</h4>
          <p>Share your love for literature from fantasy to finance meet new friends and reconnect with old friends through writing</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="item">
          <%= image_tag "Group_chat.svg", class: "icon" %>
          <h4>Create</h4>
          <p>Create a new club both private or public and use our collective group chat to discuss the gossip from your paperback</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="item">
          <%= image_tag "book_lover.svg", class: "icon" %>
          <h4>Read</h4>
          <p>Finish that book that has been collecting dust on your shelf, or revisit conversations about that book that changed your life</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center pb-4 section-heading">Featured Clubs</h2>
<div class="conatiner-home">
<div class="row">
        <% @clubs.first(3).each do |club|%>
        <div class="col-lg-4">

          <div class="card club-card rounded mb-3" style="max-width: 540px;">
            <div class="cover-content pr-3 pl-3 pt-5">
              <p class="card-text cover-content-text pt-5"><%= club.description %></p>
            </div>
            <%= link_to club_path(club), class: "stretched-link", :style=> 'text-decoration:none;' do %>
            <div class="row no-gutters">
              <div class="col-md-6">
                <% if club.club_books.find_by(current_book: true).nil? %>
                <img class="card-img-top background-image: cover"
                  src="https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80"
                  alt="">
                <% else %>
                <img src="<%= club.club_books.find_by(current_book: true).book.image_url %>" class="card-img-top" />
                <% end %>
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <div class="card-body">

                  <h5 class="card-title text-wrap" style="width: 9rem;"><%= club.name %></h5>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
</div>
<br>
<br>
<br>
<br>
<br>
