<div class="container">

  <div class="card-product mt-2">
    <img src="<%= @book[:image_url] %>" />
    <div class="card-product-infos">
      <h2><%= @book[:title] %></h2>
      <h4><%= @book[:author] %></h4>
      <p><%= @book[:description] %></p>
    </div>
  </div>
  <%= link_to "Back to Browse", clubs_path, class: "btn btn-primary" %>
  <%= link_to "Add to bookclub name", club_path(2), class: "btn-custom" %>
</div>

