<div class="container-room jumbotron jumbotron-fluid m-0 bg-transparent d-flex flex-column" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80')";>
<h2 class="pb-2 pt-2 pl-2 text-center mt-5">
  <%= @room.name %> <%= "Chatroom" %>
</h2>

<div class="row flex-nowrap mr-0 ml-2">
  <div class="col-2 mt-3 pl-0">
    <br>
    <br>
    <div class="container back-link">
      <%= link_to club_path(@club), class: "hvr-underline" do %>
        <i class="fas fa-arrow-left"></i> Go back
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <div class="container back-link">
      <%= link_to new_club_room_path, class: "hvr-underline" do %>
      Create a new room
      <% end %>
      <br>
      <br>
      <div>
        <h5>
       <%= "Other chatrooms:" %>
        </h5>
      </div>
      <% if @club.rooms.present? %>
      <nav class="nav flex-column">
        <% @club.rooms.each do |room| %>
          <%= link_to room.name, club_room_path(@club, room), class: "room-nav hvr-underline" %>
        <% end %>
      </nav>
    <% else %>
      <div class="text-muted ml-4">
        There are no rooms
      </div>x
    <% end %>
    </div>
  </div>


  <div class="col-8 mt-3">
    <div class="chat" data-channel-subscribe="room" style="color:black">
      <% @room_messages.each do |room_message| %>
        <div class="chat-message-container" id="messages" data-room-id="<%= @room.id  %>">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <% if room_message.user.profile_photo.attached? %>
                <%= cl_image_tag room_message.user.profile_photo.key, class: "avatar-chat" %>
              <% else %>
                <%= image_tag "https://images.unsplash.com/photo-1452882628481-6a2da9481239?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80", class: "avatar-chat" %>
              <% end %>
            </div>

            <div class="col">
              <div class="message-content">
                <p class="pt-2">
                  <small><strong><%= room_message.user.username %> <%= " ~ " %></strong></small>
                  <%= room_message.message %>
                </p>
                <div class="text-right mb-2 mr-2">
                  <small>
                    <%= room_message.created_at.strftime("%a %b %e at %l:%M%p") %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for [@club, @room, @room_message], remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 placeholder: "Write your message here!",
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
          <div class="input-group-append">
        <%= form.submit "Send", class: 'btn btn-chat-input chat-input' %>
          </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>
<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <img src="" class="avatar" alt="" data-role="user-avatar">
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
