<h2 class="pb-2 pt-2 pl-2 text-center">
  <%= @room.name %>
</h2>

<div class="row">
  <div class="col-12 col-md-2 ml-2">
    <%= link_to "Your Chat Rooms", club_rooms_path, class: "btn btn-sec-small" %>
    <%= render partial: 'rooms' %>
    <%= link_to "Club Page", club_path, class: "btn btn-sec-small" %>


  </div>

  <div class="col mr-4">
    <div class="chat" data-channel-subscribe="room">
      <% @room_messages.each do |room_message| %>
        <div class="chat-message-container" id="messages" data-room-id="<%= @room.id  %>">
          <div class="row no-gutters">
            <div class="col-auto text-center">
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="avatar-chat" alt="">

            </div>

            <div class="col">
              <div class="message-content">
                <p class="pt-2">
                  <%= room_message.message %>
                </p>
                <div class="text-right mb-2 mr-2">
                  <small>
                    <%= room_message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for [@club, @room, @room_message], remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-chat-input chat-input' %>
        </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>
<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <img src="" class="avatar" alt="" data-role="user-avatar">
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
